.card:hover {
    transform: scale(1.01, 1.01);
    transition-duration: 350ms;
    transition-timing-function: ease-out;
}

.card {
    transform: scale(1.0, 1.0);
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    box-shadow: 0 0 50px #ccc;
    height: 300px;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.card-img-top {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

