.container {
  margin-top: -45px;
}

[nz-carousel-content] {
  height: 95px;
  width: 100%;
}

[nz-carousel-content] img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}
