.container {
  height: 400px;
  width: 100%;
  margin-top: -45px;
  padding-left: 0px;
  padding-right: 0px;
}
.photoSlide {
  margin-left: 0px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

carousel img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

carousel {
    transition-duration: 350ms;
    transition-timing-function: ease-out;
}
