<div class="container">
    <div class="container" *ngIf="clubEvent">
        <!-- <app-carousel
        [clubEvent]="clubEvent"
        [eventPhotos]="clubEvent.photos"
    ></app-carousel> -->
          <nz-carousel></nz-carousel>
    </div>
    <div class="container">
        <h3>Info</h3>
        <h5>Description</h5>
        <p>Event name: {{clubEvent.title}}</p>
        <p>Event code: {{clubEvent.eventCode}}</p>
        <div>Purpose: {{clubEvent.purpose}}</div>
        <h5>Details</h5>
        <p>Team in charge: {{clubEvent.teamInCharge}}</p>
        <p>Posting Date: {{clubEvent.postingDate}}</p>
        <p>Draft Deadline: {{clubEvent.draftDeadline}}</p>
        <div>Specifications: {{clubEvent.specifications}}</div>
    </div>
</div>
