        /* <h3>Info</h3>
        <h5>Description</h5>
        <p>Event name: {{clubEvent.title}}</p>
        <p>Event code: {{clubEvent.eventCode}}</p>
        <div>Purpose: {{clubEvent.purpose}}</div>
        <h5>Details</h5>
        <p>Team in charge: {{clubEvent.teamInCharge}}</p>
        <p>Posting Date: {{clubEvent.postingDate}}</p>
        <p>Draft Deadline: {{clubEvent.draftDeadline}}</p>
        <div>Specifications: {{clubEvent.specifications}}</div>
    </div> */

div.container {
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  color:rgb(255, 196, 0);
  margin-bottom: 30px;
  border: 50px;
}

div.header {
  margin: 30px 0 40px 0;
  border-radius: 20px;
  color: black;
  font-weight: 600;
  color: brown;
}

.title {
  color: rgb(255, 187, 0);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px rgb(95, 95, 95);
  padding-bottom: 20px;
  border-radius: 10px;
}

span{
  font-weight: 400;
  text-align: center;
  color: rgb(59, 59, 59);
}

div.details {
  justify-content: center;
}
