        /* <h3>Info</h3>
        <h5>Description</h5>
        <p>Event name: {{clubEvent.title}}</p>
        <p>Event code: {{clubEvent.eventCode}}</p>
        <div>Purpose: {{clubEvent.purpose}}</div>
        <h5>Details</h5>
        <p>Team in charge: {{clubEvent.teamInCharge}}</p>
        <p>Posting Date: {{clubEvent.postingDate}}</p>
        <p>Draft Deadline: {{clubEvent.draftDeadline}}</p>
        <div>Specifications: {{clubEvent.specifications}}</div>
    </div> */

div.container {
  margin-top: 30px;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  color:rgb(255, 196, 0);
  margin-bottom: 30px;
  border: 50px;
}

div.header {
  margin: 30px 0 30px 0;
  background-color: rgb(255, 187, 0);
  border-radius: 20px;
  padding: 10px;
  color: white;
}

h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
