<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>


<div>
  <div class="container" *ngIf="clubEvent">

    <h2>{{clubEvent.title}}</h2>

    <app-fancy-carousel [clubEvent]="clubEvent" [eventPhotos]="clubEvent.photos"></app-fancy-carousel>

    <div class="header">
      <h5 class='title'>Description</h5>
      <p>Event code:   <span>{{clubEvent.eventCode}}</span></p>
      <div class='details'>Purpose:    <span>{{clubEvent.purpose}}</span></div>
    </div>

    <div class="header">
      <h5 class='title'>Details</h5>
      <p>Team in charge:   <span>{{clubEvent.teamInCharge}}</span></p>
      <p>Posting Date:     <span>{{clubEvent.postingDate}}</span></p>
      <p>Draft Deadline:   <span>{{clubEvent.draftDeadline}}</span></p>
      <div>Specifications: <span>{{clubEvent.specifications}}</span></div>
    </div>

  </div>
</div>
