<div class="container">
    <div class="col-8">
        <div class="alert alert-danger" *ngIf="editForm.dirty" style="width: 60%;">
            <strong>Note:</strong> You have made changes... any unsaved changes will be lost!
        </div>
    </div>
    <div class="row-3">
        <h4>Info:</h4>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateEvent()">
            <h5>Description</h5>
            <strong>Title: </strong>
            <textarea class="form-control" [(ngModel)]="clubEvent.title" name="title"></textarea>
            <strong>Purpose: </strong>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.purpose" name="purpose" cols="3" rows="2"></textarea>
            <strong>Team in charge: </strong>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.teamInCharge" name="teamInCharge" cols="3" rows="3"></textarea>
            <strong>Posting Date: </strong>
            <p>{{clubEvent.postingDate}}</p>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.postingDate" name="postingDate" cols="3" rows="3"></textarea>
            <strong>Draft Deadline: </strong>
            <p>{{clubEvent.draftDeadline}}</p>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.draftDeadline" name="draftDeadline" cols="3" rows="3"></textarea>
            <strong>Specifications: </strong>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.specifications" name="specifications" cols="3" rows="3"></textarea>
            
        </form>    
        <div class="btn-group text-center">
            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-primary btn-block">Save changes</button>

    </div>
    </div>
</div>