<div class="container">
    <div class="col-8">
        <div class="alert alert-danger" *ngIf="editForm.dirty" style="width: 60%;">
            <strong>Note:</strong> You have made changes... any unsaved changes will be lost!
        </div>
    </div>
    <div class="row-3">
        <h4>Info:</h4>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateEvent()">
            <h5>Description</h5>
            <textarea class="form-control" [(ngModel)]="clubEvent.title" name="title" rows="4"></textarea>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.eventCode" name="eventCode" cols="3" rows="3"></textarea>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.purpose" name="purpose" cols="3" rows="3"></textarea>
            <h5>Details</h5>
            <h6>Team in charge: </h6>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.teamInCharge" name="teamInCharge" cols="3" rows="3"></textarea>
            <h6>Posting Date: </h6>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.postingDate" name="postingDate" cols="3" rows="3"></textarea>
            <h6>Draft Deadline: </h6>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.draftDeadline" name="draftDeadline" cols="3" rows="3"></textarea>
            <h6>Specifications: </h6>
            <textarea class="form-control mb-2" [(ngModel)]="clubEvent.specifications" name="specifications" cols="3" rows="3"></textarea>
            
        </form>    
        <div class="btn-group text-center">
            <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-primary btn-block">Save changes</button>

    </div>
    </div>
</div>