<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>
<div>
  <img src="/assets/header-name/members.png" style='padding-bottom: 30px;'>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label me-2">Team: </label>
            <select name="team" [(ngModel)]="userParams.team" style="width: 130px;" class="form-control ml-1">
                <option *ngFor="let team of teamList" [value]="team.value">
                    {{team.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ms-1" type="submit">Apply filters</button>
        <button (click)="resetFilters()" class="btn btn-primary ml-1" type="submit">Reset filters</button>
        <div class="col">
            <div class="btn-group float-end">
                <button
                    type="button"
                    class="btn btn-info"
                    name='orderBy'
                    btnRadio="created"
                    [(ngModel)]="userParams.orderBy"
                    (click)="loadMembers()">
                    Newest members
                </button>

                <button
                    type="button"
                    class="btn btn-danger"
                    name='orderBy'
                    btnRadio=""
                    [(ngModel)]="userParams.orderBy"
                    (click)="loadMembers()">
                    By name
            </button>
            </div>
        </div>

    </form>
</div>

<div class="row">
    <div *ngFor="let member of members" class="col-3">
       <app-member-card [member]="member"></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">

    </pagination>
</div>
