<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
            <br>
            If token is invalid. Request a new one may help.
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a routerLink="/"> click here to log in. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <h2 class="text-center text-primary">Reset Password</h2>
            <hr><hr>
            <label for="password" class="col-form-label">Password:</label>
            <app-text-input [formControl]='resetPasswordForm.controls["password"]' [type]="'password'"></app-text-input>
            <label for="confirm" class="col-form-label">Confirm password:</label>
            <app-text-input [formControl]='resetPasswordForm.controls["confirm"]' [type]="'password'"></app-text-input>
            <br>
            <div class="form-group text-center">        
                    <button class="btn btn-success mr-2" type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>