
<nav class="navbar navbar-custom navbar-expand-md fixed-top ">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive="active">Club ABC</a>
          <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
            <ng-container *ngIf="accountService.currentUser$ | async">
              <li class="nav-item">
                <a class="nav-link" routerLink='/members' routerLinkActive="active">Members</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/events' routerLinkActive="active">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink='/messages' routerLinkActive="active">Messages</a>
              </li>
              <li *appHasRole="['Admin', 'Leader']" class="nav-item">
                <a class="nav-link" routerLink='/admin' routerLinkActive="active">Admin</a>
              </li>
              <li *appHasRole="['Admin', 'Leader']" class="nav-item">
                <a class="nav-link" routerLink='/create-member' routerLinkActive="active">Create Member</a>
              </li>
            </ng-container>
            <li class="nav-item">
              <a class="nav-link" routerLink='/errors' routerLinkActive="active">Errors</a>
            </li>
          </ul>

          <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img class="rounded" src="{{user.photoUrl || '../../../../../assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ms-2 text-decoration-none" dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>
          </div>

          <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex mt-2 mt-md-0" autocomplete="off">
            <input
              name="username"
              [(ngModel)]="model.username"
              class="form-control me-sm-2"
              type="text"
              placeholder="Username">
            <input
              name="password"
              [(ngModel)]="model.password"
              class="form-control me-sm-2"
              type="password"
              placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
          </form>
        </div>
  </nav>
