<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<div>
  <img src="/assets/header-name/events.png" style='padding-bottom: 30px;'>
</div>

<div class="row">
    <div *ngFor="let clubEvent of clubEvents$ | async" class="col-3">
       <app-event-card [clubEvent]="clubEvent"></app-event-card>
    </div>
</div>

<h4>Valuable Sponsors</h4>
<div class='container' style="text-align: center;">
  <img src='/assets/gdsc.png' style='width: 200px; height: 200px'>
  <img src='/assets/marcom.png' style='width: 200px; height: 200px'>
  <img src='/assets/sac.png' style='width: 200px; height: 200px'>
  <img src='/assets/vnuk.png' style='width: 200px; height: 150px'>
</div>
